<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../../base.css">
    <link rel="stylesheet" href="../../ueditor/third-party/SyntaxHighlighter/shCoreDefault.css">
    <title>私人资料站</title>
  </head>
  <body style="background:transparent;">
<h4>computed计算属性</h4><p>基于vue-cli的示例：</p><p>Example.vue</p><pre class="brush:html;toolbar:false">&lt;template&gt;
&nbsp;&nbsp;&lt;div&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;div&gt;&lt;!--&nbsp;computed&nbsp;--&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input&nbsp;type=&quot;text&quot;&nbsp;v-model=&quot;computed_value1&quot;&gt;+
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input&nbsp;type=&quot;text&quot;&nbsp;v-model=&quot;computed_value2&quot;&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;!--&nbsp;多次引用也只会依赖值变化时调用一次computed方法，不会多次调用&nbsp;--&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{computed_value3}}&lt;br&gt;{{computed_value3}}&lt;br&gt;
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;
&nbsp;&nbsp;&lt;/div&gt;
&lt;/template&gt;</pre><pre class="brush:js;toolbar:false;">&lt;script&gt;
//关于&nbsp;Vue&nbsp;实例中的&nbsp;this:&nbsp;在Vue实例中，要获取&nbsp;data&nbsp;中的数据&nbsp;或者&nbsp;methods&nbsp;中的方法，必须使用&nbsp;this.&nbsp;访问，这里的&nbsp;this&nbsp;表示&nbsp;Vue&nbsp;实例对象
export&nbsp;default&nbsp;{
&nbsp;&nbsp;data(){//注意：使用&nbsp;vue&nbsp;cli&nbsp;后，这里是属于组件&nbsp;data&nbsp;必须这么写，和实例&nbsp;data&nbsp;不一样，实例可以是对象
&nbsp;&nbsp;&nbsp;&nbsp;return{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;computed_value1:&quot;&quot;,computed_value2:&quot;&quot;
&nbsp;&nbsp;&nbsp;&nbsp;}
&nbsp;&nbsp;},
&nbsp;&nbsp;computed:{//【计算属性】，本质是一个方法，但可以直接当做属性使用
&nbsp;&nbsp;&nbsp;&nbsp;/*&nbsp;&nbsp;1.引用时不可以加()调用
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.仅在内部所使用data中的值被修改时调用，重新计算该属性值
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.被调用后，返回结果会缓存，多次引用不会被多次调用&nbsp;*/
&nbsp;&nbsp;&nbsp;&nbsp;computed_value3(){
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;window.console.info(&quot;computed被调用&quot;);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return&nbsp;this.computed_value1+this.computed_value2;//必须return
&nbsp;&nbsp;&nbsp;&nbsp;}
&nbsp;&nbsp;}
};
&lt;/script&gt;</pre><p><br/></p>  </body>
  <script type="text/javascript" src="../../ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
  <script type="text/javascript">
    SyntaxHighlighter.all();    window.setInterval(function changeHeight(){ 
        window.frameElement.style.height=(window.document.body.scrollHeight+30)+'px';
    },400);
  </script>
</html>
